# Publish new commits to npm. See https://github.com/mikeal/merge-release/blob/master/README.md for more info. 

name: Publish

on:
  push:
    branches:
      - master

env:
  CTEST_OUTPUT_ON_FAILURE: 1
  CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
    
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1

      - uses: mymindstorm/setup-emsdk@v6
        with:
          version: 1.39.20

      - name: install
        run: yarn install

      - name: test
        run: yarn run test

      - name: Publish
        if: github.ref == 'refs/heads/master'
        uses: mikeal/merge-release@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}
